.logo{
    display: block;
    margin: 15px auto;
    height: 56px;
}
.navbar{
    background-color: #2a2a2a;
    display: flex;
    height: 30px;
    width: 100%;    
    padding: 10px;
    position: relative;

}
.navbar p{
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 10px;
}
.menu{
    margin-left:30px;
    padding: 0;
    height: 25px;
}
.headings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}
.search-box{
    background-color: #4c4c4c;
    display: block;
    position: absolute;
    right: 50px;
    color: #fff;
    font-size: 15px;
    width: 400px;
    border-radius: 10px;
    margin: 0;
    padding: 5px 40px;

}

.breaking{
    background-color: #b90000;
    height: 20px;
    width: 75%;
    display: flex;
    /* display: block; */
    margin: 15px auto;
    padding: 10px;
}

.breakingtag{
    font-size: 18px;
    font-weight: bold;
    width: 145px;
    margin: 0;
    padding: 0;
    border-right: 1px solid white;
    color: white;
}
.tagline{
    font-size: 15px;
    font-weight: bold;
    color: white;
}